body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    
}
.boc{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div.boc{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header_boc{
    background-color: rgb(218, 49, 44);
    border-bottom: 2px solid rgba(186, 174, 8, 0.982);
}
.hop_dung{
    margin: 0 auto;
    max-width: 960px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo img{
    max-width: 85px;
    height: auto;
}
#logo{
    padding: 4.5px 0px;
}

.main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.main-menu li {
    position: relative;
    /* height: 60px; */
}

.main-menu li a{
    color: white;
    text-decoration: none;
    padding: 18px 20px;
    display: block;
   
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    
}

.main-menu ul.sub-menu {
    position: absolute;
    background-color: rgb(218, 49, 44);
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    border: 1px solid rgba(186, 174, 8, 0.982);
    display: none;
}

.main-menu li:hover>ul.sub-menu {
    display: block;
}

.main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid white;
}
.main-menu ul.sub-menu li:hover a {
    border-bottom: 1px solid rgba(186, 174, 8, 0.982);
    color: rgba(186, 174, 8, 0.982);
}

.main-menu ul.sub-menu li:last-child a {
    border: none;
}

/*thiết lập border khi hover */
.main-menu>li>a{
    position: relative;
}
.main-menu>li:hover>a{
    color: rgba(186, 174, 8, 0.982);
}

.main-menu>li>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background: rgba(186, 174, 8, 0.982);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    
   
}
.main-menu>li:hover>a::before {
    width: 100%;
    
} 
.main-menu>li:nth-child(2)>a{
    color: rgba(186, 174, 8, 0.982);
    
}

/* boder bottom header */
header{
    border-bottom: 5px solid rgba(186, 174, 8, 0.982);
}

/* login */

.login{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.login li a{
    color: white;
   
    padding: 18px 20px;
    text-align: center;
    box-sizing: border-box;
    
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    background-color: rgba(186, 174, 8, 0.982);
    border-radius: 22rem;
    transition: all 300ms ease;
}

.login li { 
    margin: 5px;
}

.login li:hover a{
    background-color: white;
    color: rgba(186, 174, 8, 0.982);
}












#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none; /* Ẩn nút cho đến khi người dùng cuộn */
    background-color: #fb0202;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0.7;
}

#scrollToTopBtn:hover {
    background-color: #870505;
}
